@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    }

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    background-image: url(../images/header/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.header::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
}

.header__inner{
    z-index: 3;
    position: relative;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu{
    display: flex;
    justify-content: space-around;
    padding-top: 48px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    gap: 40px;
}

.header__menu-logo{
    padding-top: 48px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 30px;
}

.header__menu-list {
    display: flex;
    gap: 40px;
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-top: 200px;
    padding-bottom: 275px;
    
}

.header__content-logo {
    max-width: 120px;
    margin-bottom: 24px;
}
.header__content-title {
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    margin-bottom: 24px;
}

.header__content-text {
    font-size: 32px;
    line-height: 40px;
    max-width: 763px;
    margin-bottom: 48px;
    padding-left: 30px;
}

.header__content-btn {
    border: 1px solid #FFFFFF;
    padding: 0px 41px;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}

.info {
    padding: 144px 0;
    background-image: url(../images/info/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: contain;
}

.info__items {
    display: flex;
    justify-content: space-between;
}
.info__list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.info__item {
    display: flex;
    gap: 16px;
    max-width: 352px;
    min-height: 72px;
    padding: 0;
    align-items: flex-start;
}

.info__item--right{
    flex-direction: row-reverse;
}

.info__item-box{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.info__item-title {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: right;
}

.info__item-text {
    font-size: 12px;
    line-height: 24px;
    text-align: right;
}

.come {
    padding: 96px 0;
    background-color: #111111;
    background-image: url(../images/come/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.come::after{
    content: "";
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
}

.come__inner{
    position: relative;
    z-index: 3;
}

.come__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.come__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    padding-bottom: 24px;
    margin-bottom: 24px;
    position: relative;
}

.come__title::after{
    content: "";
    position: absolute;
    top: 68px;
    left: 170px;
    width: 37%;
    border-bottom: 1px solid #fff;
}

.come__text {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
}

.come__btn {
    background-color: inherit;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    text-transform: uppercase;
    padding: 0 41px;
    border-color: #fff;
}

.menu {
    padding: 96px 0;
}

.menu__btn{
    display: none;
}

.menu__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.menu__top {
    text-align: center;
    max-width: 474px;
}

.menu__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    position: relative;
}

.menu__title::after{
    content: "";
    position: absolute;
    width: 41%;
    top: 72px;
    left: 139px;
    border-bottom: 1px solid #000;
}


.menu__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
}

.menu__top-items {
    display: flex;
    gap: 40px;
    justify-content: center
}

.menu__top-link {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.menu__top-link:focus{
    text-decoration-line: underline;
}

.menu__content{
    display: flex;
    gap: 30px;
}   

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu__list-items {
    display: flex;
    align-items: flex-start;
    position: relative;
    /* max-width: 544px;
    min-height: 72px; */
}

.menu__list-item{
    display: flex;
    flex-direction: column;
}

.menu__list-jpg {
    margin-right: 24px;
}

.menu__list-title {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    padding-right: 40px;
}

.menu__list-text {
    font-size: 12px;
    line-height: 24px;
    padding-right: 28px;
    max-width: 404px;
}

.menu__list-num {
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    top: 0;
    right: 0;
    /* display: flex;
    align-self: flex-end; */
}

.test{
    padding: 96px 0;
    background-color: #000;
    background-image: url(../images/test/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
}

.test::after{
    content: "";
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.test__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: relative;
}

.test__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    position: relative;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.test__title:after{
    content: "";
    position: absolute;
    border-bottom: 1px solid #fff;
    top: 72px;
    left: 25px;
    width: 76%;
}

.test__text{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0 40px 24px;
    max-width: 735px;
}

.test__subtext{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.news{
    padding: 96px 0;
    background-color: #fff;
}

.news__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}

.news__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    position: relative;
}

.news__title:after{
    content: "";
    position: absolute;
    border-bottom: 1px solid #000;
    top: 70px;
    left: -30px;
    width: 155%;
}

.news__text{
    font-size: 16px;
    line-height: 24px;
    color: #111111;
    text-align: center;
}

.news__bottom{
    display: flex;
    gap: 32px; 
}

.news__content{
    max-width: 352px;
}

.news__img{
    margin-bottom: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}

.news__content-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.news__content-text{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;        
}

.news__content-link{
    font-size: 12px;
    line-height: 24px;
    padding-left: 20px;
    position: relative;
}

.news__content-link::before{
    content: " ";
    border-bottom: 1px solid #000;
    width: 12px;
    top: 7px;
    left: 0;
    position: absolute;
}

.location{
    padding: 96px 0;
    background-image: url(../images/location/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #111111;
    color: #fff;
    position: relative;
}

.location::after{
    content: "";
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
}

.location__inner{
    z-index: 3;
    position: relative;
}

.location__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 48px;
}

.location__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    position: relative;
}

.location__title::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #fff;
    top: 70px;
    left: 38px;
    width: 70%;
}

.location__text{
    font-size: 16px;
    line-height: 24px;
    max-width: 474px;
    text-align: center;
}

.location__items{
    display: flex;
    gap: 176px;
}

.location__img{
    margin-bottom: 24px;
}

.location__item-title{
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 24px;
    text-align: center;
}

.location__item-text{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 256px;
}

.contacts{
    padding: 96px 0;
    color: #fff;
    background-color: #000;
}

.contacts__inner{
    /* max-width: 474px; */
    margin: 0 auto;
}

.contacts__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}

.contacts__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding-bottom: 24px;
    margin-bottom: 24px;
    position: relative;
}

.contacts__title::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #fff;
    top: 70px;
    left: 51px;
    width: 63%;
}

.contacts__text{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 474px;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__input{
    padding: 0 96px 0 24px;
    font-size: 16px;
    line-height: 48px;
    border: 1px solid #fff;
    margin-right: 24px;
    background-color: inherit;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #FFFFFF;
 }
 :-moz-placeholder {
    color: #FFFFFF;
 }
 ::-moz-placeholder {
    color:    #FFFFFF;
 }
 :-ms-input-placeholder {
    color:    #FFFFFF;
 }

.form__btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    text-transform: uppercase;
    padding: 0 41px;
    background-color: inherit;
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff;
}

.footer{
    padding: 48px 0;
    background-color: #000;
    color: #fff;
}

.footer__inner{
    display: flex;
    justify-content: space-around
}

.footer__cop{
    font-size: 12px;
    line-height: 24px;
    text-align: center;
}

.footer__list{
    display: flex;
    gap: 48px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.footer__social{
    display: flex;
    align-items: flex-start;
    gap: 26px;
}

.footer__social-link{
    border-radius: 50%;
    background: rgba(217, 217, 217, 0.1);
    padding: 0 7px;
    font-size: 8px;
    line-height: 24px;
    text-align: center;
}

.footer__social-link--special{
    padding: 0 9px;
}

@media (max-width: 1160px){
    .menu__btn{
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        order: 1;
        border: none;
        cursor: pointer;
        z-index: 50;
        position: relative;
        left: -20px;
        top: 40px;
    }

    .header__menu-logo{
        position: relative;
        z-index: 50;
    }

    .menu__btn-line{
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        transition: all .3s;
    }

    .menu__btn-line:nth-child(1){
        top: 0;
    }

    .menu__btn-line:nth-child(2){
        top: 20px;
    }

    .menu__btn-line:nth-child(3){
        top: 20px;
    }

    .menu__btn-line:nth-child(4){
        top: 40px;
    }

    .menu--open .menu__btn-line:nth-child(1){
        transform: scaleX(0);
    }

    .menu--open .menu__btn-line:nth-child(2){
        transform: rotate(45deg);
    }

    .menu--open .menu__btn-line:nth-child(3){
        transform: rotate(-45deg);
    }

    .menu--open .menu__btn-line:nth-child(4){
        transform: scaleX(0);
    }

    .header__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #0a0a0a;
        opacity: 0.93;
        transform: translateY(-100%);
        transition: all .3s ease;
        padding-left: 120px;
        font-size: 24px;
        line-height: 48px;
    }

    .menu--open .header__menu{
        transform: translateY(0);
    }

    .news__bottom{
        gap: 22px;
        flex-direction: column;
        align-items: center;
    }

    .news__content{
        max-width: 700px;
        margin: 0 40px;
    }

    .news__img{
        width: 100%;
    }

    .location__items{
        flex-direction: column;
        gap: 48px;
    }
}

@media (max-width: 1150px){
    .menu__content{
        flex-direction: column;
        gap: 60px;
    }
}

@media (max-width: 1000px){
    .header__content-title{
        font-weight: 700;
        font-size: 60px;
        line-height: 96px;
        margin-bottom: 24px;
    }

    .header__content-text{
        font-size: 28px;
        line-height: 48px;
        max-width: 763px;
        margin-bottom: 48px;
    }
}

@media (max-width: 768px){
    .header__content-title{
        font-size: 40px;
        line-height: 96px;
    }

    .header__content-text{
        font-size: 24px;
        line-height: 48px;
    }

    .info{
        background-repeat: no-repeat;
        background-size: auto;
        background-position: unset;
    }

    .info__items{
        flex-direction: column;
        gap: 48px;
    }

    .info__item{
        flex-direction: row-reverse;
    }

    .info__item-title{
        text-align: left;
    }

    .info__item-text{
        text-align: left;
    }

    .footer__list{
        display: none;
    }
}

@media (max-width: 600px){
    .menu__list-title{
        font-size: 14px;
    }

    .menu__list-text{
        font-size: 12px;
    }

    .menu__list-num{
        font-size: 15px;
    }
}

@media (max-width: 560px){
    .come__title{
        font-size: 33px;
    }

    .come__title::after {
        content: "";
        position: absolute;
        top: 72px;
        left: 133px;
        width: 37%;
        border-bottom: 1px solid #fff;
    }

    .come__text{
        font-size: 15px;
    }

    .menu__title{
        font-size: 38px;
    }

    .menu__text{
        font-size: 14px;
    }

    .form{
        flex-direction: column;
        gap: 40px;

    }

    .form__input{
        margin: 0;
    }
}

@media (max-width: 470px){
    .header__content-title{
        font-size: 33px;
    }

    .header__content-text{
        font-size: 20px;
    }

    .come__title{
        font-size: 26px;
    }
    
    .come__title::after {
        content: "";
        position: absolute;
        top: 72px;
        left: 106px;
        width: 37%;
        border-bottom: 1px solid #fff;
    }

    .come__text{
        font-size: 13px;
    }

    .come__btn{
        font-size: 14px;
    }

    .menu__title{
        font-size: 36px;
    }

    .menu__title::after{
        left: 128px;
    }

    .menu__text{
        font-size: 12px;
    }

    .news__content{
        margin: 0 20px;
    }
}

@media (max-width: 375px){
    .header__menu{
        padding-left: 70px;
    }

    .header__content-title{
        font-size: 28px;
    }

    .header__content-text{
        font-size: 18px;
    }

    .come__title {
        font-size: 22px;
    }

    .come__title::after {
        content: "";
        position: absolute;
        top: 72px;
        left: 92px;
        width: 37%;
        border-bottom: 1px solid #fff;
    }

    .come__text {
        font-size: 12px;
    }

    .come__btn {
        font-size: 12px;
    }

    .menu__title{
        font-size: 32px;
    }

    .menu__title::after{
        left: 96px;
    }

    .menu__text{
        font-size: 11px;
    }

    .news__content{
        margin: 0 15px;
    }

    .contacts__title{
        font-size: 38px;
    }

    .form__input{
        padding: 0 20px 0 24px;
    }

    .footer__inner{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}